window#osd {
    padding: 12px 20px;
    border-radius: 999px;
    border: 2px solid #7d8287;
    background-color: rgba(16, 20, 23, 0.9);
    #container {
        margin: 16px;
    }
    image,
    label {
        color: #e6e8eb;
    }
    progressbar:disabled,
    image:disabled {
        opacity: 0.5;
    }
    progressbar {
        min-height: 6px;
        border-radius: 999px;
        background: transparent;
        border: none;
    }
    trough {
        min-height: inherit;
        border-radius: inherit;
        border: none;
        background-color: rgba(45, 50, 55, 0.7);
    }
    progress {
        min-height: inherit;
        border-radius: inherit;
        border: none;
        background-color: #7d8287;
    }
}
