window#osd {
    padding: 12px 20px;
    border-radius: 999px;
    border: 2px solid #d79921;
    background-color: rgba(26, 20, 12, 0.9);

    #container {
        margin: 16px;
    }

    image,
    label {
        color: #f5e6c9;
    }

    progressbar:disabled,
    image:disabled {
        opacity: 0.5;
    }

    progressbar {
        min-height: 6px;
        border-radius: 999px;
        background: transparent;
        border: none;
    }

    trough {
        min-height: inherit;
        border-radius: inherit;
        border: none;
        background-color: rgba(71, 52, 25, 0.7);
    }

    progress {
        min-height: inherit;
        border-radius: inherit;
        border: none;
        background-color: #d79921;
    }
}
